<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>MyPage</title>
  <base href="/">
  <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
   <script
  src="https://code.jquery.com/jquery-3.2.0.min.js"
  integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
  crossorigin="anonymous"></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js></script>

  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<nav class="navbar navbar-default m-nav">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Legendary Voting App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
      
       
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign up</a></li>
         <li><a href="#">Login</a></li>
      </ul>
      
      
    </div>
  </div>
</nav>
<!--End of Nav-->

<div class="jumbotron text-center myjumbo">
  <h1>Legendary Votes</h1>
  <p>Create Free Custom Votes with live results.</p>
  </div>

<div class=container>

<form class="form-horizontal" action=/signupnow method=POST>
  <fieldset>
  
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="name" >
      </div>
      </div>

       <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="email" class="form-control" name="username" >
      </div>
      </div>

       <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="password" >
      </div>
      </div>
   
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
   
  </body>
</html>
