.myjumbo{
    background-color:#47A2DE;
    margin-top:0px;
    color:white;
}

.myjumbo{
  background-color: #C8E6CC;
  
    color:#47A2DE;
  
}


#desc{
    color:black;
}

.hompg{
    margin:40px;
}

.myjumbo{
    background-color:#47A2DE;
    margin-top:0px;
    color:white;
}

.myjumbo{
  background-color: #C8E6CC;
  
    color:#47A2DE;
  
}


#desc{
    color:black;
}

.hompg{
    margin:40px;
}

#myred {
    color:red;
}

input.ng-invalid.ng-dirty {
    border: 2px red solid
    }
input.ng-valid.ng-dirty{
border:2px green solid
    }

    .addopt{
        margin-top:10px;
        margin-left:0px;
       
    }

#congrats{
    color:blue;
    margin-top:100px;
}
