

<div class="jumbotron text-center myjumbo">
  <h1>Legendary Votes</h1>
  <p>Create Free Custom Votes with live results.</p>
  <p><a routerLink="/signup" routerLinkActive="active" class="btn btn-success btn-lg">Sign up</a></p>
</div>

<div class=col-md-12>


<div class="col-md-5 text-center hompg">
<h2>Live Results</h2>
Live graphs show your poll results immediately in an easy to understand format. 
With the graphs we provide, you can easily describe and share your results. Its live real time data
for anyone anywhere!
</div>
<div class="col-md-5 text-center hompg">
<h2>Works Everywhere</h2>
Traditional desktop computers now represent only 30% of Internet traffic. 
Your poll must work on the tablets, smart phones, netbooks and notebooks that your visitors 
are using. Our responsive designs do just that.</div>


</div>








